.OfferProducts {
    margin-left: var(--margin);
    margin-right: var(--margin);
    --doubleMargin: calc(var(--margin) * 2);
    width: calc(100% - var(--doubleMargin));
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3rem rgba(0,0,0,0.05);
    margin-top: 4.2rem;
}

.OfferProducts > *:nth-child(5) {
    display:none;
}

.cardTitle {
	font-weight: 100;
	color: #6d6e73;
	font-size: 30px;
	text-align: center;
    width: 60%;
}

@media only screen and (min-width: 1441px) {
    .OfferProducts {
        grid-template-columns: repeat(5, 1fr);
    }

    .OfferProducts > *:nth-child(5) {
        display:block;
    }
}

@media only screen and (max-width: 1024px)  {
    .OfferProducts {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 2.5rem;
    }

    .OfferProducts > *:nth-child(5) {
        display: none;
    }

}

@media only screen and (max-width: 768px) {
    .OfferProducts {
        grid-template-columns: repeat(3, 1fr);
    }

    .OfferProducts > *:nth-child(4) {
        display: none;
    }

    .OfferProducts > *:nth-child(5) {
        display: none;
    }
}
