.ReviewCard {
	border-radius: 0.5rem;
	padding: 1rem;
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.ReviewCard > * {
	margin: 0;
	color: #6d6e73;
}

.ReviewCard .reviewHolder {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ReviewCard img {
	margin-top: 2vw;
	width: 5rem;
	border-radius: 50%;
}

.ReviewCard p {
	font-weight: 300;
	font-size: 14px;
}

.ReviewCard h4 {
	color: #3e3f41;
}

.ReviewCard h6 {
	font-weight: 400;
	margin-bottom: 0.5rem;
}
.ReviewCard .ratingHolder {
	margin-top: 0;	
	margin-top: auto;
}

.ReviewCard .ratingHolder img {
	margin-top: 0rem;
	margin-bottom: 1rem;
	width: 1rem;
	margin-right: 2px;
}




