.KitchenProducts {
    margin-left: var(--margin);
    margin-right: var(--margin);
    --doubleMargin: calc(var(--margin) * 2);
    width: calc(100% - var(--doubleMargin) - 0.1rem);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 5px;
    box-shadow: 0 0 3rem rgba(0,0,0,0.05);
    margin-top: 4.2rem;
}

.cardTitle {
    font-weight: 100;
    color: #6d6e73;
    font-size: 25px;
    text-align: center;
    width: 60%;
}


@media only screen and (max-width: 1440px)  {
    .KitchenProducts {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 2.5rem;
    }

    .KitchenProducts > *:nth-child(5) {
        display: none;
    }
}

@media only screen and (max-width: 1024px)  {
    .KitchenProducts {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2.5rem;
    }

    .KitchenProducts > *:nth-child(4) {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .KitchenProducts {
        grid-template-columns: repeat(2, 1fr);
    }

    .KitchenProducts > *:nth-child(3) {
        display: none;
    }
}
