.InfoCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
   border-right: 1px solid #e6e6e6;
}