.TopBar {
	background-color: #3a19b0;
	height: 1.6rem;
	font-size: 75%;
	position: relative;
	padding-bottom: 0.3rem;

	/*grid*/
/*	display: grid;
	grid-template-columns: repeat(13, 1fr);
	justify-content: center;
	align-items: center;*/



	/*temp grid*/
	display: grid;
	grid-template-columns: repeat(6, 1fr);

}

.TopBar .firstPart {
	grid-column: 1/3;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 0;
	line-height: 100%;
}

.TopBar .firstPart > *{
	color: white;
	margin-right: 3%;
	text-decoration: none;
}

.TopBar .firstPart > *:nth-child(2), .TopBar .lastPart > *:nth-child(6){
	display: flex;
	justify-content: center;
	align-items: center;
}



.TopBar .lastPart{
	grid-column: 4/7;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.TopBar .lastPart > *{
	text-decoration: none;
	color: white;
	line-height: 100%;
}

.TopBar::after {
	width: 100%;
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	z-index: 10;
}


/*.TopBar > *:nth-of-type(1) {
	grid-column: 1 / 3;
	justify-self: start;
}*/

/*.TopBar > *:nth-of-type(2) {
	margin-left: 0;
	grid-column: 3 / 5;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}*/

/*.TopBar > *:nth-of-type(2) > *:first-child {
	width: 10%;
}*/

/*.TopBar > *:nth-of-type(3) {
	grid-column: 6 / 7;
}
*/
/*.TopBar > *:nth-child(9) {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.TopBar > *:last-child {
	justify-self:end;
}

.TopBar > *:last-child > *:first-child {
	width: 20%;
	height: 20%;
}*/

.TopBar  img {
	height: 1rem;
}