
.TrackOrder {
	height: 85vh;
	margin-top: 0;
	background-color: #fff;
}

.TrackOrderTitle {
	background-color: #f4b043;
	height: 4rem;
	display: flex;
	justify-content: space-between;
}

.TrackOrder p {
	font-size: 0.8rem;
}

.TrackOrder .headline {
	background-color: #dee1e6;
	position: relative;
	/*background-color: #e7eaed;*/
	border-radius: 0.5rem;
	width: 100%;
	height: 3rem;
	display: grid;
	grid-template-columns: 1.5rem 0.6fr 0.8fr 0.8fr 1.8fr 5rem 5rem;
	justify-content: center;
	align-items: center;
}

.TrackOrder .headline:after {
	width: 100%;
	content: '';
	border-bottom: 1.5px solid #dedede;
	position: absolute;
	top: 3rem;
	right: auto;
	z-index: 100;
}

.TrackOrder .headline > *:first-child,
.TrackOrder .items > *:first-child{
	justify-self: center;
	align-items: center;
}

.TrackOrder .headline > *:nth-child(2){
	grid-column: 2;
}


.TrackOrder .items {
	width: 100%;
	display: grid;
	grid-template-columns: 1.5rem 0.6fr 0.8fr 0.8fr 1.8fr 5rem 5rem;
	justify-content: flex-start;
	align-items: center;
}

.TrackOrder .items:hover {
	background-color: #f1f3f4;
}




/*.TrackOrder .items > *:nth-child(2){
	grid-column: 3;
}

.TrackOrder .items > *:nth-child(3){
	justify-self:center;
}

.TrackOrder .items .item {
	display: grid;
	grid-template-columns: 0.8fr 1fr;
	justify-content: center;
	align-items: center;
}

.TrackOrder .items .item > *, .TrackOrder .items .item .itemInfo > *{
	margin: 0;
}

.TrackOrder .item .itemInfo {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.TrackOrder .items .item .itemInfo > p{
	font-size: 0.6rem;
	margin-top: 0.2rem;
}


.TrackOrder .items input {
	border: 1px solid #dedede;
	width: 80%;
	height: 1rem;
	font-size: 0.8rem;
}


/* Chrome, Safari, Edge, Opera */
/*.TrackOrder .items input::-webkit-outer-spin-button,
.TrackOrder .items input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
/*.TrackOrder .items input[type=number] {
  -moz-appearance: textfield;
}

.TrackOrder .items img {
	width: 3.5rem;
}

.TrackOrder .items .quantity {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.TrackOrder .items .quantity .plus, .TrackOrder .items .quantity .minus {
	font-size: 1.5rem;
	padding: 0 0.5rem;
}*/
