.TopBar {
	background-color: #3a19b0;
	height: 1.6rem;
	font-size: 75%;
	position: relative;
	padding-bottom: 0.3rem;
	margin-left: var(--margin);
	margin-right: var(--margin);

	display: grid;
	grid-template-columns: repeat(8, 1fr);

}

.TopBar .firstPart {
	grid-column: 1/3;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	line-height: 100%;

	margin-left: 0;
}

.TopBar .firstPart > * {
	text-decoration: none;
	color: white;
}

.TopBar .lastPart > *:nth-child(6){
	display: flex;
	justify-content: center;
	align-items: center;
}

.TopBar .lastPart{
	grid-column: 4/9;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.TopBar .lastPart > *{
	text-decoration: none;
	color: white;
	line-height: 100%;
}

.TopBar::after {
	width: 100%;
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	z-index: 10;
}

.TopBar  img {
	height: 1rem;
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
	.TopBar {
		display: none;
	}
}