.SearchBar {
	background-color: #3a19b0;
	height: 3rem;

	/*grid*/
	display: grid;
	grid-template-columns: 8% 1fr 4rem 3rem max-content;
	align-items: center;
}

.SearchBar > *:first-child >*{
	width: 2.9rem;
}

.SearchBar .cartIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.SearchBar .cartIcon p {
	color: white;
	background-color: #fa4e92;
	padding:0 2.5px;
	border-radius: 3px;
	position: absolute;
	right: 3px;
	bottom: 3px;
}



.SearchBar > *:last-child {
	font-size: 0.8rem;
	font-weight: 600;
	text-decoration: none;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.SearchBar > *:nth-child(3){
	justify-self: center;
}
