.NavBar {
	background-color: white;
	height: 1.7rem;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
}

.NavBar > *:first-child {
	width: 10rem;;
	display: flex;
	justify-content: center;
	align-items: center;
}

.NavBar > *:first-child > *:last-child{
	width: 15px;
}

.NavBar > * {
	text-decoration: none;
	color: black;
	font-size: 0.7rem;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.NavBar > *:first-child {
	justify-content: flex-start;
	align-self: center;
	margin-left: var(--margin);
}

.NavBar > *:last-child {
	margin-right: var(--margin);
}

.NavBar > * > *:last-child {
	width: 1.4rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.NavBar {
		display: none;
	}
}