.SearchBar {
	background-color: #3a19b0;
	height: 3rem;

	/*grid*/
	display: grid;
	grid-template-columns: 6rem 1fr 3rem 3rem 3rem;
	align-items: center;

	margin-left: var(--margin);
	margin-right: var(--margin);
}

.SearchBar > *:first-child > * {
	width: 5rem;
	transform: translateY(2px);
}

.SearchBar .cartIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.SearchBar .cartIcon p {
	color: white;
	background-color: #fa4e92;
	padding:0 2.5px;
	border-radius: 3px;
	position: absolute;
	right: 3px;
	bottom: 3px;
}

.SearchBar > *:nth-child(5) {
	font-size: 0.8rem;
	font-weight: 600;
	text-decoration: none;
	color: white;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.SearchBar > *:nth-child(3){
	justify-self: center;
}


.SearchBar > *:last-child{
	display: none;
	text-decoration: none;
	color: white;
		font-size: 0.8rem;
	font-weight: 600
;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.SearchBar > *:first-child > * {
		width: 3.5rem;
	}
	.SearchBar {
	/*grid*/
	display: grid;
	grid-template-columns: 15% 25% 4rem 3rem auto 4rem;
	align-items: center;
	}	

	.SearchBar > *:last-child{
	display: block;
	justify-self: end;
	}
}

@media (max-width: 320px) {
	.SearchBar {
	/*grid*/
	width: 85vw;
	display: grid;
	grid-template-columns: 15% 30% 10% 10% auto 15%;
	align-items: center;
	}	

	.SearchBar > *:last-child{
	display: block;
	justify-self: end;
	}
}