.ProductCard {
	border-radius: 0.5rem;
	padding: 1rem;
	/*margin: -2rem;*/
	height: 20rem;
	background-color: white;
	/*grid*/
	display: grid;
	grid-template-rows: 1fr 7rem;
	grid-template-areas:
	'imageHolder'
	'infoHolder';
	align-items: center;
}

.ProductCard .imageHolder {
	grid-area: imageHolder;
	justify-self: center;
	align-self: center;
}

.ProductCard img {
	height: auto;
	max-height: 8rem;
}


.ProductCard .infoHolder {
	grid-area: infoHolder;
}

.ProductCard .infoHolder > p {
	margin-top: 50px;
	grid-row: 3;
	color: var(--primaryColor);
	font-weight: 300;
	font-size: var(--small);
}

.ProductCard .infoHolder > h5:first-of-type {
	grid-row: 4;
	width: 80%;
	color: var(--gray);
	font-weight: 400;
}

.ProductCard:hover {
	cursor: pointer;
	box-shadow: 0 0 5rem rgba(0,0,0,0.08);
	z-index: 555;
}

.ProductCard:hover 
.ProductCard .infoHolder > .priceCart > .cart {
	visibility: visible;
}

.ProductCard:hover 
.highlighted{
	color: #fa4f90;
}

.ProductCard .infoHolder > 
.priceCart {
	grid-row: 5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
}

.ProductCard .infoHolder > 
.priceCart h5{
	font-weight: 400;
}

.ProductCard .infoHolder .priceCart > .cart {
	font-size: 0.8rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	grid-template-areas: 
	'cartIcon text1'
	'cartIcon text2';
}

.ProductCard .infoHolder .priceCart  .cart > *:first-child{
	grid-area: cartIcon;
	align-self: center;
	margin: 0;
	color: #fa4f90;
}

.ProductCard  .infoHolder .priceCart  .cart > p:first-of-type{
	grid-area: text1;
	margin: 0;
	font-size: 0.6rem;
}

.ProductCard .infoHolder .priceCart .cart > p:last-of-type{
	grid-area: text2;
	margin: 0;
	font-size: 0.6rem;
}

.ProductCard .infoHolder * {
	margin: 0;
}

