.ProductCard {
	background-color: white;
	border-radius: 0.5rem;
	padding: 2vw;
	height: 18rem;
	width: 80%;
	/*grid*/
	display: flex;
	flex-direction: column;
}


.ProductCard .imageHolder {
	grid-row: 2;
	height: 12rem;
	margin: auto;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ProductCard img {
	width: 100%;
}

.ProductCard > p {
	margin-top: 50px;
	grid-row: 3;
	color: var(--primaryColor);
	font-weight: 300;
	font-size: var(--small);
}

.ProductCard > h5:first-of-type {
	grid-row: 4;
	width: 80%;
	color: var(--gray);
	font-weight: 400;
}

.ProductCard:hover {
	cursor: pointer;
	box-shadow: 0 0 5rem rgba(0,0,0,0.08);
	z-index: 555;
}

.ProductCard:hover 
.ProductCard > .priceCart > .cart {
	visibility: visible;
}

.ProductCard:hover .highlighted{
	color: #fa4f90;
}

.ProductCard > .priceCart {
	grid-row: 5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
}

.ProductCard > .priceCart h5{
	font-weight: 400;
}

.ProductCard > .priceCart > .cart {
	font-size: 0.8rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	grid-template-areas: 
	'cartIcon text1'
	'cartIcon text2';
}

/*.ProductCard #animatedText {
	display: none;
	opacity: 0;
	font-weight: 400;
	margin-top: -15px;
	transform: translateY(-20px);
	transition: 0.3s;
}*/

/*.ProductCard #animatedText:hover {
	transform: translateY(-150px);
	opacity: 1;	
}
*/

.ProductCard > .priceCart > .cart > *:first-child{
	grid-area: cartIcon;
	align-self: center;
	margin: 0;
	color: #fa4f90;
}

.ProductCard > .priceCart > .cart > p:first-of-type{
	grid-area: text1;
	margin: 0;
	font-size: 0.6rem;
}

.ProductCard > .priceCart > .cart > p:last-of-type{
	grid-area: text2;
	margin: 0;
	font-size: 0.6rem;
}

.ProductCard > *:not(img) {
	margin: 0;
}

